main {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 400px;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 4px;
  padding: 30px;
  position: relative;
}

@media all and (max-width: 600px) {
  main {
    border: none;
    padding: 1rem;
    min-width: 100%;
  }
}

header {
  margin: 20px auto;
  max-width: 1000px;
  min-width: 400px;
}

header .ui.simple.dropdown {
  display: none !important;
}

@media all and (max-width: 600px) {
  header {
    margin: 1rem;
    min-width: 0;
    width: auto;
  }
  header .ui.simple.dropdown {
    display: flex !important;
  }
  header .ui.menu {
    border-radius: 0;
  }
  header .ui.menu .right.menu > a {
    display: none !important;
  }
  header .ui.menu > a h2 {
    font-size: 12px;
  }
}

footer {
  margin: 20px auto;
  max-width: 1000px;
  min-width: 400px;
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  text-align: center;
}

@media all and (max-width: 600px) {
  footer {
    margin: 1rem;
    max-width: 1000px;
    min-width: 0;
  }
}

/* because of https://github.com/Semantic-Org/Semantic-UI/issues/4342 */
.divider-column {
  position: relative;
  padding: 0 !important;
}
.ui.vertical.divider:after, .ui.vertical.divider:before {
  height: 100% !important;
}

.ui.ribbon.label {
  left: calc(-1rem - 2.5em);
  margin-right: 0.8em;
  padding-left: calc(1rem + 1.2em);
  padding-right: 1.2em;
  top: -7em;
}

.ui.olive.ribbon.label {
  border-color: #87a08d!important;
}

.coin-bags {
  display: flex;
}

.gameover {
  text-align: center;
}
.gameover .coin-bags {
  max-width: 400px;
  margin: 2em auto;
}

.level-buttons {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -10px;
}
.level-buttons form {
  flex: 1 1 auto;
  min-width: 200px;
  margin: 10px 10px 0;
}
.level-buttons form button.ui.button {
  width: 100%;
}

.level-buttons.unfinishedGames {
  justify-content: flex-start;
}

.level-buttons.unfinishedGames form {
  max-width: 447px;
}

#custom-game {
  display: none;
}

#level-button {
  width: 100%;
  margin: 0;
}

#custom-game-button {
  margin: 0 10px;
  width: 100%;
}

.coins {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  min-height: 100px;
  justify-content: center;
}
.coin-stack {
  display: flex;
  flex: 0 0 auto;
  width: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-right: 10px;
}

svg.coin {
  width: 100%;
  display: block;
  flex: 0 0 auto;
  margin-bottom: -12.4px;
  // fill: #FBBD08;
}
svg.coin:first-child {
  margin-bottom: -7px;
}
svg.coin {
  fill: #FBBD08;
}
.coins .coin-bag {
  width: 100px;
  display: block;
  flex: 0 0 auto;
  fill: #FBBD08;
}
.coins .coin-bag + .coin-bag {
  margin-left: -20px;
}
.coins .coin-bag svg {
  margin-bottom: -30px;
}
.coins .coin-bag svg path.cloth {
  fill: #FBBD08;
}
.coins.silver .coin-bag svg path.cloth {
  fill: #767676;
}

.coins.silver {
  margin-top: -101px;
  margin-left: 40px;
}
.coins.silver svg.coin {
  fill: #767676;
}

.coins.silver .coin-bag svg {
  fill: #767676;
}

/*  GAMEOVER PAGE  */
.gameover .illu {
  max-width: 100px;
}

.gameover .illu.lost {
  width: 200px;
  max-width: 200px;
}
/*  GAMEOVER PAGE OLD BAGS  */

.gameover .coin-bag {
  flex: 1 1 auto;
  position: relative;
}
.gameover .coin-bag span {
  position: absolute;
  font-size: 48px;
  color: white;
  top: 62%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.gameover .coin-bag svg {
  width: 100%;
  height: auto;
}
.gameover .coin-bag.gold svg path {
  fill: #FBBD08;
}
.gameover .coin-bag:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 42%;
  left: 29%;
  width: 37%;
  height: 45%;
  z-index: 1;
}
.gameover .coin-bag.gold:before {
  background: #FBBD08;
}

.gameover .coin-bag.silver:before {
  background: #767676;
}

.gameover .coin-bag.silver svg path {
  fill: #767676;
}

.ui.login-page.grid .column:first-child {
  flex: 1 1 auto;
  max-width: 50%;
  width: auto;
}
.ui.login-page.grid .column:last-child {
  flex: 1 1 auto;
  width: auto;
}
@media all and (max-width: 953px) {
  .ui.login-page.grid .column:first-child {
    max-width: none;
  }
}

#charset {
  max-width: 330px;
  margin: 0 auto;
}
