$def with (activeSession)

$ round = activeSession["updated"]["round"]
$ goldCoinsInBag = activeSession["updated"]["goldCoinsInBag"] + int(activeSession["updated"]["goldCoinsReceived"])
$ silverCoinsInBag = int(activeSession["updated"]["silverCoinsInBag"])
$ password = activeSession["password"]
$ length = int(activeSession["setup"]["digits"])
$ score = activeSession["score"]


<h1>YOU WON!</h1>
<br>       


<br>

<p> You discovered the Password in $round rounds.
</p>
<br>
Your score is: $score
<br>
	$ m = '*' * 6
	$ t = '*'

	$for i in range(length):
		 $m &nbsp; &nbsp; &nbsp;            
	<br>
	$for i in range(length):
		$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;      
	<br>
	$for i in range(length):
		$t &nbsp; $password[i] &nbsp; $t &nbsp; &nbsp; &nbsp;
	<br>
	$for i in range(length):
		$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;
	<br>
	$for i in range(length):
		 $m &nbsp; &nbsp; &nbsp; 


<p> You have $goldCoinsInBag Gold and $silverCoinsInBag Silver coins left.
</p>
<br>

<p> Congrats! :)
</p>
<br>

<p><a href="/setup">Play again?</a></p>	