$def with (activeSession, error = None)

$ goldCoins = int(activeSession["setup"]["goldCoins"])
$ silverCoins = int(activeSession["setup"]["silverCoins"])
$ length = int(activeSession["setup"]["digits"])
$ complexity = int(activeSession["setup"]["complexity"])

$if complexity == 0:
	$ inputType = "only numbers"
	$ inputSet = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
$elif complexity == 1:
	$ inputType = "only letters"
	$ inputSet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
$elif complexity == 2:
	$ inputType = "both numbers and letters"
	$ inputSet = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']


$if error:
	$error


<h3>Here is the $length-digit password created by $inputType:</h3>

<br>
$ m = '*' * 6
$ t = '*'

$for i in range(length):
	 $m &nbsp; &nbsp; &nbsp;            
<br>
$for i in range(length):
	$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;      
<br>
$for i in range(length):
	$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;
<br>
$for i in range(length):
	$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;
<br>
$for i in range(length):
	 $m &nbsp; &nbsp; &nbsp;  
     
<h3>Past Guesses:</h3>

<h4>Round &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Guess &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gold Coins &nbsp;&nbsp; Silver Coins</h4>

<h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - </h5>


<h5>Round: 1</h5>

<br>
<h3>Number of Gold Coins in your bag: $goldCoins</h3>
<h3>Number of Silver Coins in your bag: $silverCoins</h3>

<h3>Make a guess:</h3>

<form name="main" method="POST">

	<input type="text" name="first" maxlength=1 size=1> 
	<input type="text" name="second" maxlength=1 size=1> 
	<input type="text" name="third" maxlength=1 size=1> 
	<input type="text" name="fourth" maxlength=1 size=1>

$if length > 4:
	<input type="text" name="fifth" maxlength=1 size=1> 

$if length >5:
	<input type="text" name="sixth" maxlength=1 size=1>

$if length >6:
	<input type="text" name="seventh" maxlength=1 size=1>

$if length >7:
	<input type="text" name="eighth" maxlength=1 size=1>

<br>
<br>                   
<br>

<button type="submit"<a href="/guesses"> Go! </button>

</form>













