$def with (game, past = [], error = None)

$ goldCoins = game["goldCoins"]
$ silverCoins = game["silverCoins"]
$ length = int(game["digits"])
$ complexity = game["complexity"]
$ _round = len(past) + 1
$ password = game["password"]

$if complexity == 0:
	$ inputType = "only numbers"
	$ inputSet = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
$elif complexity == 1:
	$ inputType = "only letters"
	$ inputSet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
$elif complexity == 2:
	$ inputType = "both numbers and letters"
	$ inputSet = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

$if len(past) == 0:
	$ goldInBag = goldCoins
	$ silverInBag = silverCoins
$else:
	$ goldInBag = past[len(past)-1][4]
	$ silverInBag = past[len(past)-1][5]

$if error:
	$error

<h2 class="ui header">Here is the $length-digit password created by $inputType:</h2>

<div class="ui divider"></div>
<div class="boxes">
$if game["won"] in [0, 1]:
	$ m = '*******\n*     *\n*     *\n*     *\n*     *\n*******'
	$for i in range(length):
		<pre>$m</pre>
$else:
	$ m = '*******\n*     *\n*     *\n*     *\n*     *\n*******'
	$for i in range(length):
		<pre>$m</pre>
</div>
<figure>
	<div class="lock-extension">
	$for i in range(length):
		<div class="asterisk"></div>
	</div>
	<div class="lock"></div>
</figure>

<div class="ui divider"></div>
<h3 class="ui header">Past Guesses</h3>

<h4 class="ui header">Round &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Guess &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gold Coins &nbsp;&nbsp; Silver Coins</h4>

 
$for row in past:
	&nbsp;&nbsp;&nbsp;&nbsp; $row[0] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		$row[1]
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	$if row[2] == length:
		-
	$else:
		$row[2]
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	$if row[2] == length:
		-
	$else:
		$row[3]
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>



<div class="ui divider"></div>
$if game["won"] == 1:
	<h4 class="ui header">Number of Gold Coins in your bag: </h4><a class="ui yellow label">$(goldInBag + length)</a>
	<h4 class="ui header">Number of Silver Coins in your bag:</h4> <a class="ui gray label">$silverInBag</a>
	<h4 class="ui header">You won this game already!</h4>
$elif game["won"] == 0:
	<h4 class="ui header">Number of Gold Coins in your bag: </h4><a class="ui yellow label">0</a>
	<h4 class="ui header">Number of Silver Coins in your bag:</h4> <a class="ui gray label">0</a>
	<h4 class="ui header">You lost this game already!</h4>
$else:
	<h4 class="ui header">Round: $_round</h4>
	<h4 class="ui header">Number of Gold Coins in your bag: </h4><a class="ui yellow label">$goldInBag</a>
	<h4 class="ui header">Number of Silver Coins in your bag:</h4> <a class="ui gray label">$silverInBag</a>
	<h4 class="ui header">Make a guess:</h4>
	<form name="main" method="POST">

		<div class="ui input"><input type="text" name="first" maxlength=1 size=1></div>
		<div class="ui input"><input type="text" name="second" maxlength=1 size=1></div>
		<div class="ui input"><input type="text" name="third" maxlength=1 size=1></div>
		<div class="ui input"><input type="text" name="fourth" maxlength=1 size=1></div>

	$if length > 4:
		<div class="ui input"><input type="text" name="fifth" maxlength=1 size=1> </div>

	$if length >5:
		<div class="ui input"><input type="text" name="sixth" maxlength=1 size=1></div>

	$if length >6:
		<div class="ui input"><input type="text" name="seventh" maxlength=1 size=1></div>

	$if length >7:
		<div class="ui input"><input type="text" name="eighth" maxlength=1 size=1></div>

	<button type="submit" class="ui primary button"> Go! </button>

	</form>
