$def with (activeSession, error = None)

$ round = activeSession["updated"]["round"]
$ guess = activeSession["updated"]["guess"]
$ goldCoinsReceived = activeSession["updated"]["goldCoinsReceived"]
$ silverCoinsReceived = activeSession["updated"]["silverCoinsReceived"]
$ goldCoinsInBag = activeSession["updated"]["goldCoinsInBag"]
$ silverCoinsInBag = activeSession["updated"]["silverCoinsInBag"]

$ pastGuesses = activeSession["pastGuess"]
$ pastGoldReceived = activeSession["pastGold"]
$ pastSilverReceived = activeSession["pastSilver"]
$ pastRound = activeSession["pastRound"]

$ past = activeSession["past"]

$ goldCoins = int(activeSession["setup"]["goldCoins"])
$ silverCoins = int(activeSession["setup"]["silverCoins"])
$ length = int(activeSession["setup"]["digits"])
$ complexity = int(activeSession["setup"]["complexity"])

$if complexity == 0:
	$ inputType = "only numbers"
$elif complexity == 1:
	$ inputType = "only letters"
$elif complexity == 2:
	$ inputType = "both numbers and letters"

$if error:
	$error
	<br>

<h3>Here is the $length-digit password created by $inputType:</h3>
<br>
$ m = '*' * 6
$ t = '*'

$for i in range(length):
	 $m &nbsp; &nbsp; &nbsp;            
<br>
$for i in range(length):
	$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;      
<br>
$for i in range(length):
	$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;
<br>
$for i in range(length):
	$t &nbsp; &nbsp; &nbsp; &nbsp;$t &nbsp; &nbsp; &nbsp;
<br>
$for i in range(length):
	 $m &nbsp; &nbsp; &nbsp;            


<h3>Past Guesses:</h3>

<h4>Round &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Guess &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gold Coins &nbsp;&nbsp; Silver Coins</h4>

$for i in range(len(past)):
	&nbsp;&nbsp;&nbsp;&nbsp; $(past[i][0] - 1) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		$for k in range(len(past[0][1])):
		$past[i][1][k]
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $past[i][2] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 $past[i][3] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>


<h5>Round: $round</h5>

<br>
<h3>Number of Gold Coins in your bag: $goldCoinsInBag</h3>
<h3>Number of Silver Coins in your bag: $silverCoinsInBag</h3>

<h3>Make a guess:</h3>

<form name="main" method="POST">

	<input type="text" name="first" maxlength=1 size=1> 
	<input type="text" name="second" maxlength=1 size=1> 
	<input type="text" name="third" maxlength=1 size=1> 
	<input type="text" name="fourth" maxlength=1 size=1>

$if length > 4:
	<input type="text" name="fifth" maxlength=1 size=1> 

$if length >5:
	<input type="text" name="sixth" maxlength=1 size=1>

$if length >6:
	<input type="text" name="seventh" maxlength=1 size=1>

$if length >7:
	<input type="text" name="eighth" maxlength=1 size=1>

<br>
<br>
<br>
<button type="submit">Go!</button>

</form>