$def with (content)
<!DOCTYPE html>
<html>
<head>
    <title>P*a*5*S*w*0*r*D</title>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/semantic.js"></script>
</head>
<body>
  <header>
    <h1 class="ui header center aligned">P*a*5*S*w*0*r*D</h1>
  </header>
	<main>
	$:content
	</main>
  <footer>
    <p>by <a href="https://github.com/selinerguncu">Selin Erguncu</a> <i class="heart icon red"></i>2017</p>
  </footer>
</body>
</html>