$def with (content)
<!DOCTYPE html>
<html>
<head>
    <title>P*a*5*S*w*0*r*D</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/icon.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    $if 'css' in content:
      $:content.css
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <!-- FAVICO stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favico/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favico/manifest.json">
    <link rel="mask-icon" href="/static/img/favico/safari-pinned-tab.svg" color="#b5cc18">
    <link rel="shortcut icon" href="/static/img/favico/favicon.ico">
    <meta name="msapplication-config" content="/static/img/favico/browserconfig.xml">
    <meta name="theme-color" content="#fafafa">
    <meta name="apple-mobile-web-app-title" content="Pa5Sw0rD">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- <link rel="apple-touch-startup-image" href="/static/img/welcome.png"> -->
    <script type="text/coffeescript" src="/static/coffee/main.coffee"></script>
    <script type="text/javascript" src="/static/js/coffee-script.min.js"> </script>
    <script type="text/javascript" src="/static/js/reconnecting-websocket.js"> </script>
</head>
<body>
  <header>
    <div class="ui menu">
      <a href="/" class="active item">
        <h2 class="ui header">P*a*5*S*w*0*r*D</h2>
      </a>
      <div class="right menu">
        $if 'username' in content:
          <a class="item" href="/setup"><i class="child icon"></i>$content.username</a>
        $if 'link1' in content:
          $:content.link1
        $if 'link2' in content:
          $:content.link2
        $if 'link3' in content:
          $:content.link3
        $if 'link4' in content:
          $:content.link4
        <a class="icon item" href="/howtoplay" alt="How to Play"><i class="help circle icon"></i></a>
        $if 'logout' in content:
          <a class="icon item" href="/logout" alt="Logout"><i class="sign out icon"></i></a>
        <div class="ui simple dropdown transition icon item">
          <i class="caret down icon"></i>
          <div class="menu transition">
            $if 'link1' in content:
              $:content.link1
            $if 'link2' in content:
              $:content.link2
            $if 'link3' in content:
              $:content.link3
            $if 'link4' in content:
              $:content.link4
            <a class="item" href="/howtoplay" alt="How to Play"><i class="help circle icon"></i>How to Play</a>
            $if 'logout' in content:
              <a class="item" href="/logout" alt="Logout"><i class="sign out icon"></i>Logout</a>
          </div>
        </div>
        <!-- <div class="ui simple dropdown item">
          <i class="united states flag"></i>
          <div class="menu">
            <a class="item"><i class="united states flag"></i>English</a>
            <a class="item"><i class="turkey flag"></i>Türkçe</a>
          </div>
        </div> -->
      </div>
    </div>
  </header>
  <main>
    $:content
  </main>
  <footer>
    <p>by <a href="http://github.com/selinerguncu">Selin Erguncu</a> <i class="heart icon red"></i>2017</p>
  </footer>
  <script>
    $$(document).ready(function() {
      var $$dropdown = $$('header .right.menu .ui.dropdown')
      $$('.dropdown').dropdown()
    })
  </script>
</body>
</html>
