$def with (leaders, error = None)


$ leaders = leaders

<h1>Leaderboard</h1>

Rank &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Player &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Score &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Badge <br><br>
$for i in range(len(leaders)):
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$(i+1) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $leaders[i][2]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$leaders[i][0]  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$leaders[i][1] <br>

<h1>P*a*5*S*w*0*r*D</h1>

<br>

<p> Here is a brief explanation of the game:</p>


<body>
Logging in will allow you to save your scores and access them when you come back later.
</body>

<br>
<br>
$if error:
	<h3>$error</h3>
<br>

<form method="POST">
	<label>Username</label>
	<input type="text" name="username"><br>
	<label>Password </label>
	<input type="password" name="userpassword"><br><br>
	<button type="submit">Submit</button>
</form>

<!-- <p><a href="/howtoplay">How To Play</a></p> -->
