$def with (leaders, maxLeaders, error = None, register = None, forgot = None)

<div class="login-page ui two column very relaxed stackable grid">
  <div class="column">
    <h3 class="ui header">Welcome to the Password Game!</h3>
    $if error:
      <div class="ui red message">
        <i class="warning sign icon"></i>$error
      </div>

    $if register:
      <table class="ui celled table">
        <thead>
          <tr><th><h3>Register</h3></th>
        </tr></thead>
        <tbody>
          <tr>
            <td>
              <form method="POST" class="ui form attached fluid">
                <div class="field">
                  <label>E-mail</label>
                  <input type="text" name="registerEmail" placeholder="E-mail..." />
                </div>
                <div class="field">
                  <label>Username</label>
                  <input type="text" name="registerUsername" placeholder="Username..." />
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="registerUserpassword" placeholder="Password..." />
                </div>
                <div class="field">
                  <label>Confirm Password</label>
                  <input type="password" name="registerConfirmpassword" placeholder="Confirm Password..." />
                </div>
                <div class="field">
                  <button class="ui blue submit button" type="submit">Register</button>
                </div>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

    $elif forgot:
      <form method="POST" class="ui form attached fluid">
        <div class="field">
          <label>E-mail or Username</label>
          <input type="text" name="forgotEmail" placeholder="E-mail or Username..." />
        </div>
        <div class="field">
          <button class="ui orange submit button basic" type="submit">Recover my password</button>
        </div>
      </form>

    $else:
      <p>Please login with your username and password.</p>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>
              <h3>Login
                  <a style="float: right; text-align: right; font-size:0.9rem" href="/login?forgot">Forgot your password?</a>
              </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <form method="POST" class="ui form attached fluid">
                <div class="field">
                  <label>Username</label>
                  <input type="text" name="username" placeholder="Username..." />
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="userpassword" placeholder="Password..." />
                </div>
                <div class="inline field">
                  <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Remember me</label>
                  </div>
                </div>
                <div class="field">
                  <button class="ui green submit button" type="submit">Login</button>
                </div>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Don't have an account?
                <span>
                    <a href="/login?register">Register Here</a>
                </span>
              </h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  <div class="divider-column">
    <div class="ui vertical divider"></div>
  </div>
  <div class="column">
    <h3 class="ui header">Hall of Fame</h3>

      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="Game-Based">Game Based</a>
        <a class="item" data-tab="Player-Based">Player Based</a>
      </div>

      <div class="ui bottom attached tab segment active" data-tab="Game-Based">
        <table class="ui celled table unstackable">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Player</th>
              <th>Score</th>
              <th>Badge</th>
            </tr>
          </thead>
          <tbody>
            $if len(leaders) > 0:
              $ i = 1
              $ cls = ''
              $for leader in leaders:
                $if leader["badge"] == "Ruby":
                  $ cls = "orange diamond icon"
                $elif leader["badge"] == "Sapphire":
                  $ cls = "blue diamond icon"
                $elif leader["badge"] == "Emerald":
                  $ cls = "green diamond icon"
                $elif leader["badge"] == "Diamond":
                  $ cls = "grey diamond icon"
                <tr>
                  <td>$(i)</td>
                  <td>$leader["username"]</td>
                  <td>$leader["score"]</td>
                  <td><i class="$cls"></i> $leader["badge"]</td>
                </tr>
                $ i = i + 1
            $else:
              <tr>
                <td colspan="4">No player has won any game yet.</td>
              </tr>
            </tbody>
          </tbody>  <!--  #bu nereyi kapatiyor??? -->
          <tfoot>
            <tr>
              <th colspan="4">
                <form method="GET" action="/leaderboard">
                    <div class="field">
                      <button class="ui button right floated" type="submit">See The Full Leaderboard</button>
                    </div>
                </form>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="ui bottom attached tab segment" data-tab="Player-Based">
        <table class="ui celled table unstackable">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Player</th>
              <th>Total Score</th>
              <th>Total Wins</th>
            </tr>
          </thead>
          <tbody>
            $if len(maxLeaders) > 0:
              $ i = 1
              $for maxLeader in maxLeaders:
                $if maxLeader["wins"] >= 10:
                  $ cls = "orange"
                $elif maxLeader["wins"] >= 6:
                  $ cls = "blue"
                $elif maxLeader["wins"] >= 4:
                  $ cls = "green"
                $else:
                  $ cls = "grey"
                <tr>
                  <td>$(i)</td>
                  <td>$maxLeader["username"]</td>
                  <td>$maxLeader["totalScore"]</td>
                  <td><i class="star $cls icon"></i> $maxLeader["wins"]</td>
                </tr>
                $ i = i + 1
            $else:
              <tr>
                  <td colspan="4">No player has won any game yet.</td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4">
                <button class="ui button right floated" type="submit">See The Full Leaderboard</button>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>

  </div>
</div>

<script>
  $$(document).ready(function(){
    $$('.menu .item').tab();
  });
</script>


<script>
  $$(document).ready(function () {
    $$('.ui.checkbox').checkbox()
  })
</script>

