$def with (player, allGames)


$var logout: True
$var link1: <a class="item" href="/setup"><i class="game icon"></i> Back to Levels</a>


$var link2: <a class="item" href="/leaderboard"><i class="trophy icon"></i> Leaderboard</a>

$ username = player["username"]
$ games = player["games"]
$ wins = player["wins"]
$ losses = player["losses"]
$ maxScore = player["maxScore"]
$ totalScore = player["totalScore"]

$ activeGameNr = 0
$ gameWonNr = 0
$ gameLostNr = 0

$for game in allGames:
  $if game["won"] == 1:
    $ gameWonNr += 1
  $elif game["won"] == 0:
    $ gameLostNr += 1
  $else:
    $ activeGameNr += 1

<h2>Hi, $username!</h2>

$if activeGameNr == gameLostNr == gameWonNr == 0:
  <h4>You haven't started playing yet!</h4>

$if activeGameNr > 0:
  $if activeGameNr == 1:
    <h3>You have $activeGameNr Active Game:</h3>
  $else:
    <h3>You have $activeGameNr Active Games:</h3>

  <table class="ui celled unstackable table">
    <thead>
      <tr>
        <th>Level</th>
        <th>Password</th>
        <th>Gold Coins</th>
        <th>Silver Coins</th>
        <th>Total Rounds</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    $for game in allGames:
      $if game["won"] not in [0, 1]:
        $if game["level"] == 0:
          $ game["level"] = "Custom Game"

        $if game["level"] == 0:
          $ status = "Custom Game"

        $ game["goldRemaining"] = game["goldCoins"] - game["goldSpent"]
        $ game["silverRemaining"] = game["silverCoins"] - game["silverSpent"]

        $if game["complexity"] == 0:
          $ complexity = "Numbers"
        $elif game["complexity"] == 1:
          $ complexity = "Lowercase Letters"
        $if game["complexity"] == 2:
          $ complexity = "Numbers and Lowercase Letters"
        $if game["complexity"] == 3:
          $ complexity = "Numbers, Lowercase and Uppercase Letters"
        <tr>
          <td>$game["level"]</td>
          <td>
            <div class="content">
              $game["digits"] digits
              <div class="sub header">$complexity</div>
            </div>
          </td>
          <td>
            <div class="content">
              $game["goldCoins"] received
              <div class="sub header">$game["goldRemaining"] remaining</div>
            </div>
          </td>
          <td>
            <div class="content">
              $game["silverCoins"] received
              <div class="sub header">$game["silverRemaining"] remaining</div>
            </div>
          </td>
          <td>$game["totalRounds"]</td>
          <td>
            <form method="POST" action="/setup">
                <input type="text" name="gameid" value='$game["id"]' hidden="hidden">
                <button class="olive basic ui button" type="submit">
                  Continue This Game
                </button>
              </form>
          </td>
        </tr>
    </tbody>
  </table>

$if gameWonNr > 0:
  $if gameWonNr == 1:
    <h3>You won $gameWonNr game:</h3>
  $else:
    <h3>You won $gameWonNr games:</h3>
  <table class="ui celled unstackable table">
    <thead>
    <tr>
      <th>Level</th>
      <th>Badge</th>
      <th>Score</th>
      <th>Password</th>
      <th>Gold Coins</th>
      <th>Silver Coins</th>
      <th>Total Rounds</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    $for game in allGames:
      $if game["won"] == 1:
        $if game["level"] == 0:
          $ game["level"] = "Custom Game"

        $ game["goldRemaining"] = game["goldCoins"] - game["goldSpent"] + game["digits"]
        $ game["silverRemaining"] = game["silverCoins"] - game["silverSpent"]

        $if game["complexity"] == 0:
          $ complexity = "Numbers"
        $elif game["complexity"] == 1:
          $ complexity = "Lowercase Letters"
        $if game["complexity"] == 2:
          $ complexity = "Numbers and Lowercase Letters"
        $if game["complexity"] == 3:
          $ complexity = "Numbers, Lowercase and Uppercase Letters"

        $if game["badge"] == "Ruby":
          $ cls = "diamond icon orange"
        $elif game["badge"] == "Sapphire":
          $ cls = "diamond icon blue"
        $elif game["badge"] == "Emerald":
          $ cls = "diamond icon green"
        $elif game["badge"] == "Diamond":
          $ cls = "diamond icon grey"
        $else:
          $ cls = ""


        <tr>
          <td>$game["level"]</td>
          <td>
            <i class="$cls"></i>
            <div class="sub header"> $game["badge"]</div>
          </td>
          <td>$game["score"]</td>
          <td>
            <div class="content">
              $game["digits"] digits
              <div class="sub header">$complexity</div>
            </div>
          </td>
          <td>
            <div class="content">
              $game["goldCoins"] received
              <div class="sub header">$game["goldRemaining"] remaining</div>
            </div>
          </td>
          <td>
            <div class="content">
              $game["silverCoins"] received
              <div class="sub header">$game["silverRemaining"] remaining</div>
            </div>
          </td>
          <td>$game["totalRounds"]</td>
          <td>
            <form method="POST" action="/setup">
              <input type="text" name="gameid" value='$game["id"]' hidden="hidden">
              <button class="olive basic ui button" type="submit">
                See Summary
              </button>
            </form>
          </td>
        </tr>
    </tbody>
  </table>

$if gameLostNr > 0:
  $if gameLostNr == 1:
    <h3>You lost $gameLostNr game:</h3>
  $else:
    <h3>You lost $gameLostNr games:</h3>
  <table class="ui celled unstackable table">
    <thead>
    <tr>
      <th>Level</th>
      <th>Password</th>
      <th>Gold Coins</th>
      <th>Silver Coins</th>
      <th>Total Rounds</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    $for game in allGames:
      $if game["won"] == 0:
        $if game["level"] == 0:
          $ game["level"] = "Custom Game"

        $ game["goldRemaining"] = game["goldCoins"] - game["goldSpent"]
        $ game["silverRemaining"] = game["silverCoins"] - game["silverSpent"]

        $if game["complexity"] == 0:
          $ complexity = "Numbers"
        $elif game["complexity"] == 1:
          $ complexity = "Lowercase Letters"
        $if game["complexity"] == 2:
          $ complexity = "Numbers and Lowercase Letters"
        $if game["complexity"] == 3:
          $ complexity = "Numbers, Lowercase and Uppercase Letters"

        <tr>
          <td>$game["level"]</td>
          <td>
            <div class="content">
              $game["digits"] digits
              <div class="sub header">$complexity</div>
            </div>
          </td>
          <td>$game["goldCoins"] received</td>
          <td>$game["silverCoins"] received</td>
          <td>$game["totalRounds"]</td>
          <td>
            <form method="POST" action="/setup">
              <input type="text" name="gameid" value='$game["id"]' hidden="hidden">
              <button class="olive basic ui button" type="submit">
                See Summary
              </button>
            </form>
          </td>
        </tr>
    </tbody>
  </table>

