$def with (player, levelSet, msg = None, data = None, isError = False, unfinishedGames = None)
$var logout: True
$var username: $player["username"]

$var link1: <a class="item" href="/leaderboard"><i class="trophy icon"></i> Leaderboard</a>

$ complexity = ["Only Numbers", "Only Small Letters", " Numbers and Small Letters", "Numbers, Small and Capital Letters"]

$ level = levelSet["currentLevel"]
$ levelLevels = levelSet["levels"]
$ levelDigits = levelSet["digits"]
$ levelComplexity = levelSet["complexity"]
$ levelGoldCoins = levelSet["goldCoins"]
$ levelSilverCoins = levelSet["silverCoins"]

$if data:
  $if data['goldCoins'] == None:
    $ data['goldCoins'] = ""
  $if data['silverCoins'] == None:
    $ data['silverCoins'] = ""

$if msg:
  $if isError:
    <div class="ui red message">
      <i class="remove sign icon"></i>
      $msg
    </div>
  $else:
    <div class="ui yellow message">
      <i class="warning sign icon"></i>
      $msg
    </div>
  <h3 class="ui header">Password parameters</h3>
  <form method="POST" class="ui form attached fluid">
    <div class="two fields">
      <div class="field">
        <label>Number of Digits</label>
        <select class="ui compact selection dropdown" name="digits">
        $for i in range(4,15):
          $if i == int(data['digits']):
            <option selected="selected">$i</option>
          $else:
            <option>$i</option>
        </select>
      </div>
      <div class="field">
        <label>Complexity</label>
        <select class="ui compact selection dropdown" name="complexity">
        $for i in range(0,4):
          $if i == int(data['complexity']):
            <option value="$i" selected="selected">$complexity[i]</option>
          $else:
            <option value="$i">$complexity[i]</option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Gold Coin Amount</label>
        <input type="text" name="goldCoins" value="$data['goldCoins']">
      </div>
      <div class="field">
        <label>Silver Coin Amount</label>
        <input type="text" name="silverCoins" value="$data['silverCoins']">
      </div>
    </div>
    <div class="field">
      $if isError:
        <input type="text" name="force" value="0" hidden="hidden">
      $else:
        <input type="text" name="force" value="1" hidden="hidden">
    </div>
    <div class="field">
      $if isError:
        <button class="ui blue submit button" type="submit">Done! Let's start!</button>
      $else:
        <button class="ui blue submit button" type="submit">I'm good. Let's start!</button>
    </div>
  </form>
$else:
  <div class="ui styled fluid accordion">
    $if unfinishedGames:
      <div class="title active">
        <i class="dropdown icon"></i>
        Continue Your Active Games
      </div>
      <div class="content active">
        <div class="transition visible" style="display: block !important;">
          <div class="level-buttons unfinishedGames">
          $for game in unfinishedGames:
            $if game["level"] == 0:
              $ levelName = 'Custom Game'
              $ levelNumber = ''
            $else:
              $ levelName = 'Level '
              $ levelNumber = game["level"]
            <form method="POST">
              <input type="text" name="gameid" value='$game["id"]' hidden="hidden">
              <button class="olive ui button" type="submit">
                <i class="unlock white icon"></i>
                $levelName$levelNumber
              </button>
            </form>
          </div>
        </div>
      </div>
    $if not unfinishedGames:
      $ activeClass = ' active'
      $ contentAttributes = 'class="transition visible" style="display: block !important;"'
    $else:
      $ activeClass = ''
      $ contentAttributes = 'class="transition hidden"'
    <div class="title$activeClass">
      <i class="dropdown icon"></i>
      Play a New Game by Level
    </div>
    <div class="content$activeClass">
      <div $:contentAttributes>
        <div class="level-buttons">
        $for i in range(1,21):
          <form method="POST">
          $ activeClass = 'ui button'
          $ disabled = ''
          $if level == i:
            $ activeClass = 'olive ui button'
            $ lock = 'unlock white'
            <input type="text" name="digits" value=$levelDigits[i-1] hidden="hidden">
            <input type="text" name="complexity" value=$levelComplexity[i-1] hidden="hidden">
            <input type="text" name="goldCoins" value=$levelGoldCoins[i-1] hidden="hidden">
            <input type="text" name="silverCoins" value=$levelSilverCoins[i-1] hidden="hidden">
            <input type="text" name="level" value=$levelLevels[i-1] hidden="hidden">
            <input type="text" name="force" value="1" hidden="hidden">
          $if i > level:
            $ disabled = 'disabled="disabled"'
            $ lock = 'lock red'
          $if i < level:
            $ activeClass = 'ui button'
            $ lock = 'unlock green'
            <input type="text" name="digits" value=$levelDigits[i-1] hidden="hidden">
            <input type="text" name="complexity" value=$levelComplexity[i-1] hidden="hidden">
            <input type="text" name="goldCoins" value=$levelGoldCoins[i-1] hidden="hidden">
            <input type="text" name="silverCoins" value=$levelSilverCoins[i-1] hidden="hidden">
            <input type="text" name="level" value=$levelLevels[i-1] hidden="hidden">
            <input type="text" name="force" value="1" hidden="hidden">
          <button class="$activeClass" type="submit" $disabled>
            <i class="$lock icon"></i>
            Level $i
          </button>
          </form>
        </div>
      </div>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Start a Custom Game
    </div>
    <div class="content">
      <div class="transition hidden">
        <form method="POST" id="custom-game-form" class="ui form attached fluid">
          <div class="two fields">
            <div class="field">
              <label>Number of Digits</label>
              <select class="ui compact selection dropdown" name="digits">
                <option selected="selected">4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
              </select>
            </div>
            <div class="field">
              <label>Complexity</label>
              <select class="ui compact selection dropdown" name="complexity">
                <option value="0" selected="selected">Only Numbers</option>
                <option value="1">Only Small Letters</option>
                <option value="2">Numbers and Small Letters</option>
                <option value="3">Numbers, Small and Capital Letters</option>
              </select>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Gold Coin Amount</label>
              <input type="text" name="goldCoins" value="30">
            </div>
            <div class="field">
              <label>Silver Coin Amount</label>
              <input type="text" name="silverCoins" value="30">
            </div>
          </div>
          <div class="field">
            <input type="text" name="force" value="0" hidden="hidden">
          </div>
          <div class="field">
            <button class="ui blue submit button" type="submit">Done! Let's Start!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
  $$(document).ready(function () {
    $$('.ui.accordion').accordion()
  })
</script>
