$def with (msg = None, data = None, isError = False)
$ complexity = ["Only Numbers", "Only Letters", "Both Numbers and Letters"]

$if isError:
	$ inputType = complexity[int(data["complexity"])]
	
	<h3>$msg</h3>

	<h3> Number of Password Digits: $data["digits"]
	<br>
	Complexity of the Password: $inputType
	<br>
	Gold Coin Amount: $data["goldCoins"]
	<br>
	Silver Coin Amount: $data["silverCoins"]

	</h3>
	<br>
	<br>
	$if data["goldCoins"] == "" or data["silverCoins"] == "":
		<p><a href="/setup">OK. Reset and start over.</a></p>
	$else:
		<p><a href="/setup">OK. Reset and start over.</a></p>
		<p><a href="#" onclick="">I'm good. Let's start!</a></p>

$elif msg and isError == False:
	<h3>Set the password parameters</h3>
	<p>$msg</p>
	<form name="main" method="POST">

		<label>Number of Password Digits</label>
		<select name="digits">
			$for i in range(4,9):
				$if i == int(data['digits']):
					<option selected="selected">$i</option>	
				$else:
					<option>$i</option>	
		</select>
		<br>

		<label>Complexity of the Password</label>
		<select name="complexity">
			$for i in range(0,3):
				$if i == int(data['complexity']):
					<option value="$i" selected="selected">$complexity[i]</option>	
				$else:
					<option value="$i">$complexity[i]</option>	
		</select>
		<br>

		<label>Gold Coin Amount</label>
		<input type="text" name="goldCoins" value="$data['goldCoins']">
		<br>

		<label>Silver Coin Amount</label>
		<input type="text" name="silverCoins" value="$data['silverCoins']">
		<br>
		<input type="text" name="force" value="1" hidden="hidden">

		<button type="submit">I'm good. Let's start!</button>

	</form>


$else:
	<h3>Set the password parameters</h3>

	<form name="main" method="POST">

		<label>Number of Password Digits</label>
		<select name="digits">
			<option selected="selected">4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
		</select>
		<br>

		<label>Complexity of the Password</label>
		<select name="complexity">
			<option value="0" selected="selected">Only Numbers</option>
			<option value="1">Only Letters</option>
			<option value="2">Both Numbers and Letters</option>
		</select>
		<br>

		<label>Gold Coin Amount</label>
		<input type="text" name="goldCoins" value="30">
		<br>

		<label>Silver Coin Amount</label>
		<input type="text" name="silverCoins" value="30">
		<br>
		<input type="text" name="force" value="0" hidden="hidden">

		<button type="submit">Done! Let's Start!</button>

	</form>



	<!-- <p><a href="/game">Done! Let's Start!</a></p> -->


